{% extends 'entrada_salida/entradas.html' %}
{% load static %}


{% block column-right %}
<div class="col-sm-8">    
    <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Empleado con vehículo</h3>
        </div>
        <div class="card-body">                    
            <div class="form-group">                                           
                
            </div>         
        </div>
        <!-- /.card-body -->
    </div>
</div>

{% endblock column-right %}


{% block javascript %}

{% endblock javascript %}


    
    