{% extends 'body.html' %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/><!-- Listo -->
    <link rel="stylesheet" href="{% static 'lib/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/> <!-- Listo -->
    <script src="{% static 'lib/plugins/datatables/jquery.dataTables.min.js' %}"></script><!-- Listo -->
    <script src="{% static 'lib/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script><!-- Listo -->
    <script src="{% static 'lib/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script><!-- Listo -->
    <script src="{% static 'lib/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script><!-- Listo -->

{% endblock head %}


{% block content %}       
<div class="card card-info card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-search"></i>
            {{ title }}
        </h3>
    </div>
    <div class="card-body ">
        <table class="animated fadeIn fast  table table-sm table-bordered table-striped table-hover" id="data">
            <thead class="animated fadeIn">
            {% block columns %}

            {% endblock columns %}
            </thead>
            <tbody>
            {% block rows %}

            {% endblock rows %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        {% block buttons_list %}                                             
            <a id="btnA" class="btn btn-primary animated fadeIn btnAdd">
                <i class="fas fa-plus"></i> Nuevo registro
            </a>            
            <a class="btn btn-success animated fadeIn" id="actualizar">
                <i class="fas fa-sync"></i> Actualizar
            </a>
        {% endblock buttons_list %}
    </div>
</div>
{% endblock content %}


{% block javascript %}

<script>
$(document).ready(function(){    
    $('#data').DataTable({
        responsive : true,
        autoWidth : true
    });
});
</script>    
{% endblock javascript %}
    